---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import NavigationLayout from '@layouts/NavigationLayout.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<NavigationLayout>
  <section class="prose dark:prose-invert lg:prose-lg">
    <h1>Unredacted</h1>
    <p>
      A blog about design, technology, programming, and other personal interests. Subscribe to the RSS or JSON feeds to get the latest articles, or follow me on Mastodon.
    </p>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</NavigationLayout>
