---
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="md:row-start-1 md:col-start-1" >
  <a href="/">
    <div class="avatar-placeholder" />
    <img src="/author-photo.jpg" alt="Reda Lemeden" />
    <h1>Reda Lemeden</h1>
    <p>
      Independent <em>Designer</em>, <em>Developer</em>, and <em>Writer</em>
    </p>
  </a>
  <ThemeIcon />
  <div>
    <!-- TODO: Add vector sakigake logo -->
  </div>
</header>
