---
---
<nav class="md:row-start-2 md:col-start-1">
  <ul>
    <li>
      <a href="/work">Work</a>
    </li>
    <li>
      <a href="/blog">
        Blog
        <small>Unredacted</small>
      </a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>
